<script type = 'text/javascript'>
$(function(){
  $('#concentrateSelect').change(function() {
    var concentrateId = $('#concentrateSelect option:selected').text();
    $('#concentrateName').val(concentrateId);
  })
});
hideConcentrateLink();
</script>

<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :quantity, "Quantity: " %>
    <%= f.text_field :quantity, placeholder: '22 units' %>

    <%= f.fields_for :ingredient do |concentrate| %>
      <%= concentrate.select :concentrate_recipe_id, Recipe.concentrates.collect {|c| [ c.title, c.id] }, { prompt: true }, id:  'concentrateSelect' %>
      <%= concentrate.hidden_field :name, id: 'concentrateName'%>
    <% end %>

    <%= link_to_remove_association "remove", f, id: 'showAddConcentrate', onclick: 'addConcentrateLink()' %>
  </div>
</li>
