<h2><%= recipe.title %></h2>
<%= form_for recipe do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :recipe_category_id, 'Category' %>
    <%= form.select :recipe_category_id, RecipeCategory.all.collect {|category| [ category.name, category.id ] }, include_blank: true, id: :recipe_category_id %>
  </div>

  <div class="form-group">
    <%= form.label :strain_name, 'Recommended Strain'%>
    <%= form.text_field :strain_name, data: {autocomplete_source: strains_path}%>
    <%= form.hidden_field :strain_id, id: 'strainId'%>
  </div>

  <div class="form-group">
    <%= form.label :concentrate, 'Is this a concentrate?' %>
    <%= form.check_box :concentrate %> Yes
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recipe_title %>
  </div>

  <div class="form-group">

    <%= form.label :image %>
    <% if recipe.image? %>
    <%= image_tag recipe.image.thumb.url %>
      <%= label_tag :remove_image do %>Remove image<%= form.check_box :remove_image %>
      <% end %>
    <% end %>
    <%= form.file_field :image, id: :recipe_image %> </br>
    or<%= form.text_field :remote_image_url %><small>Enter image URL</small>
  </div>

  <div class="form-group">
    <%= form.label :video %>
    <%= form.text_field :video, id: :recipe_video %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :recipe_description %>
  </div>

  <div class="form-group">
    <%= form.label :prep_time, 'Cook time(in minute)' %>
    <%= form.number_field :prep_time, min:0, id: :recipe_prep_time %>
  </div>

  <div class="form-group">
  <h3>Ingredients</h3>
  <fieldset id="recipe-ingredients">
  <ul>
    <% i = 0 %>
    <%= form.fields_for :measurements do |measurement| %>
      <% if recipe.ingredients[i] == nil  %>
        <%= render 'measurement_fields', f: measurement %>
      <% else %>
        <% if recipe.ingredients[i].concentrate_recipe_id == nil%>
          <%= render 'measurement_fields', f: measurement %>
        <% else %>
          <%= render 'concentrate_fields', f: measurement %>
        <% end %>
        <% i += 1 %>
      <% end %>
    <% end %>
  </ul>
    <%= link_to_add_association 'Add ingredient', form, :measurements, 'data-association-insertion-node' => "#recipe-ingredients ul", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|measurement| measurement.build_ingredient; measurement } %> |

    <%= link_to_add_association 'Add concentrate', form, :measurements, partial: 'concentrate_fields', 'data-association-insertion-node' => "#recipe-ingredients ul", 'data-association-insertion-method' => "append", id: 'addConcentrate', onclick: 'hideConcentrateLink()', :wrap_object => Proc.new {|measurement| measurement.build_ingredient; measurement } %>
  </fieldset>
  </div>
  <div class="form-group">
    <h3>Allergies</h3>
    <% allergies.each do |allergy| %>
    <%= form.fields_for 'allergy[]', allergy do |allergy_field| %>
         <%= allergy.name %> <%= allergy_field.check_box :name %>
    <% end %>
    <% end %>

  </div>

  <div class="form-group">
    <h3>Instructions</h3>
    <%= form.nested_fields_for :instructions do |step| %>
      <%= step.text_field :step %>
      <%= step.remove_nested_fields_link %>
      <% end %>
      <%= form.add_nested_fields_link :instructions, 'Add step' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
