<%= form_for recipe do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :recipe_category_id %>
    <%= form.select :recipe_category_id, RecipeCategory.all.collect {|category| [ category.name, category.id ] }, include_blank: true, id: :recipe_category_id %>
  </div>

  <div class="form-group">
    <%= form.label :strain_name, 'Recommended Strain'%>
    <%= form.text_field :strain_name, data: {autocomplete_source: strains_path}%>
    <%= form.hidden_field :strain_id, id: 'strainId'%>

  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recipe_title %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.text_field :image, id: :recipe_image %>
  </div>

  <div class="form-group">
    <%= form.label :video %>
    <%= form.text_field :video, id: :recipe_video %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :recipe_description %>
  </div>

  <div class="form-group">
    <%= form.label :prep_time, 'Cook time' %>
    <%= form.number_field :prep_time, id: :recipe_prep_time %>
  </div>

  <div class="form-group">
    <%= form.label :views %>
    <%= form.number_field :views, id: :recipe_views %>
  </div>

  <div class="form-group">
  <h3>Ingredients</h3>
  <fieldset id="recipe-ingredients">
  <ul>

    <%= form.fields_for :measurements do |measurement| %>

          <%= render 'measurement_fields', f: measurement %>

    <% end %>
  </ul>
    <%= link_to_add_association 'Add ingredient', form, :measurements, 'data-association-insertion-node' => "#recipe-ingredients ul", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|measurement| measurement.build_ingredient; measurement } %> |

    <%= link_to_add_association 'Add concentrate', form, :measurements, partial: 'concentrate_fields', 'data-association-insertion-node' => "#recipe-ingredients ul", 'data-association-insertion-method' => "append", id: 'addConcentrate', onclick: 'hideConcentrateLink()', :wrap_object => Proc.new {|measurement| measurement.build_ingredient; measurement } %>
  </fieldset>
  </div>


  <div class="form-group">
    <h3>Instructions</h3>
    <%= form.nested_fields_for :instructions do |step| %>
      <%= step.text_field :step %>
      <%= step.remove_nested_fields_link %>
      <% end %>
      <%= form.add_nested_fields_link :instructions, 'Add step' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(function(){
  $('#recipe_strain_name').focusout(function(){
    var strainText = $('#recipe_strain_name').val();
    $.ajax({
      url: $('#recipe_strain_name').data('autocomplete-source'),
      method: 'GET',
      dataType: 'json'
    }).done(function(responseData) {
      for (var key in responseData)
      {
        if ( responseData[key].toLowerCase() === strainText.toLowerCase()) {
          $('#strainId').val(key);
        }

      }
    }).fail(function() {
      console.log(`fail to get strains info`)
    })

  })
})

$('#recipe_strain_name').autocomplete({
  source: $('#recipe_strain_name').data('autocomplete-source')
});

</script>
