<div class="pb-3 pb-sm-3 pb-lg-1">
  <%= link_to recipe_path(recipe.id) do %>
    <% if recipe.image.url == "" || recipe.image.url == nil %>
      <%= image_tag 'https://static1.squarespace.com/static/5541baefe4b0d1854a60b4bc/5a4843f041920273ab6f703d/5a4843f00d92977993f8d63e/1514685433874/SousWeed_BeijinhodeCoco-5162_LoRes.jpg?format=450w', class: "img-fluid img-thumbnail" %>
    <% else %>
      <%=image_tag recipe.image, alt: recipe.title, class: "img-fluid img-thumbnail" %>
    <% end %>
  <% end %>
<h4 class="py-1"><%= link_to recipe.title, recipe %></h4>
  <p><%= recipe.description %></p>
    <div class="d-flex justify-content-end">
      <% if recipe.user %>
      Made by:&nbsp;<%= link_to recipe.user.username,   user_path(recipe.user) %>
        <% if recipe.user.avatar? %>
        <%= link_to (image_tag recipe.user.avatar.thumb.url, class:"pl-2"),   user_path(recipe.user) %>
        <% end %>
      <% else %>
       This Creator got Baked!!!
      <% end %>
    </div>
</div>
