<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
<%= submit_tag "Search" %>
<% end %>

<% if @recipes.present? %>
  <%= render 'recipes' %>
<% else %>
  <p>There are no recipes containing the term(s) <%= params[:search] %>.</p>
<% end %>
