<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
<%= submit_tag "Search" %>
<% end %>


<h2>Most Recent</h2>
<div class="recent">
  <% Recipe.recent.each do |recipe|  %>
  <div class="">
  <h4><%= link_to recipe.title, recipe %></h4>
  <p>By: <%= link_to recipe.user.username, user_path(recipe.user) %></p>
  </div>
  <a href="<%= recipe_path(recipe.id) %>">
    <% if recipe.image %>
      <%=image_tag recipe.image, alt: recipe.title %>
      <% else %>
      <%= image_tag 'https://static1.squarespace.com/static/5541baefe4b0d1854a60b4bc/5a4843f041920273ab6f703d/5a4843f00d92977993f8d63e/1514685433874/SousWeed_BeijinhodeCoco-5162_LoRes.jpg?format=450w' %>
    <% end %>
  </a>
    <p><%= recipe.description %></p>

  <% end %>
</div>
<br>
<br><br>


<br>

<%= link_to 'New Recipe', new_recipe_path %>

