<p>
  <h2><%= @recipe.title %></h2>
</p>

<p>By
  <% if @recipe.user %>
    <% if @recipe.user.avatar? %>
    <%= image_tag @recipe.user.avatar.thumb.url %>
    <% end %>
    <%= link_to @recipe.user.username, user_path(@recipe.user) %>
  <% else %>
   This Creator got Baked!!!!
  <% end %>
</p>
<p>
  <strong>Category:</strong>
  <%= @recipe.recipe_category.name %>
</p>

<p>
  <strong>Recommended strain:</strong>
  <%= link_to @recipe.strain.name, strain_path(@recipe.strain_id) %>
</p>

<p>
  <strong>Image:</strong>
  <% if @recipe.image.url == "" || @recipe.image.url == nil %>

    <%= image_tag 'https://static1.squarespace.com/static/5541baefe4b0d1854a60b4bc/5a4843f041920273ab6f703d/5a4843f00d92977993f8d63e/1514685433874/SousWeed_BeijinhodeCoco-5162_LoRes.jpg?format=450w' %>
  <% else %>
    <%=image_tag @recipe.image, alt: @recipe.title %>

  <% end %>
</p>

<p>
  <strong>Video:</strong>
  <% if @recipe.video %>
    <iframe width="600" height="400" src='https://www.youtube.com/embed/hEz0zkzGQGQ' frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe.minutes_to_hours(@recipe.prep_time) %>
</p>

<p>
  <strong>Views:</strong>
  <%= @recipe.views %>
</p>

<p>
  <strong>Ingredients</strong>
  <ul>
    <% @recipe.measurements.each do |measurement| %>
    <li><%= measurement.ingredient.name %> <%= measurement.quantity %></li>
    <% end %>
  </ul>
</p>

<p>
  <h3>Steps</h3>
    <ol>
    <% @recipe.instructions.each do |instruction| %>
        <li><%= instruction.step %></li>
    <% end %>
  </ol>
</p>

<% if  user_signed_in? && current_user == @recipe.user%>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure to delete this recipe?' }  %> |
<% end %>
  <%= link_to 'Back', recipes_path %>


<% if user_signed_in? %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for([@recipe, @review]) do |f|%>
    <div class="review-form">
      <%= f.label :comment %>
      <%= f.text_area :comment %><br>
      <%= f.submit %>
    </div>
  <% end %>
  <%= link_to @favourite_link,   recipe_favourite_path(@recipe, type: @favourite_link), method: :put %>
  <% else %>
  <%= link_to "Favourite", new_user_session_path %>

<% end %>

<% if @reviews %>
  <% @reviews.each do |review|%>
  <% if @recipe.user %>
    <p><%= review.user.username %></p>
    <% else %>
     This Reviewer got Baked!!!!
    <% end %>
    <p><%= review.comment %></p>
    <p><%= review.updated_at %></p>
    <%= link_to "Delete", recipe_review_path(@recipe, review), method: :delete %>
  <% end %>
<% end %>
