<div class="row p-0 title d-flex">
  <h2 class="col-sm-12 p-0"><%= @recipe.title %></h2>
  <div class="mr-auto p-2 d-line">
    <h4 class="d-inline">Category:</h4>
    <%= @recipe.recipe_category.name %>
  </div>
  <div class="p-2 d-inline">
    <% @recipe.allergies.each do |allergy|%>
    <%= allergy.name %>
    <% end %>
  </div>

</div>
<!-- Recipe Image -->
<div class="row">
  <% if @recipe.image.url == "" || @recipe.image.url == nil %>
    <%= image_tag 'https://static1.squarespace.com/static/5541baefe4b0d1854a60b4bc/5a4843f041920273ab6f703d/5a4843f00d92977993f8d63e/1514685433874/SousWeed_BeijinhodeCoco-5162_LoRes.jpg?format=450w' %>
  <% else %>
    <div class="col-x2-12 img-fluid">
      <%=image_tag @recipe.image, alt: @recipe.title %>
    </div>
  <% end %>
</div>
<!-- Author -->
<div class="row">
  <div class="col-6 col-sm-6 author">
    <span>By:
    <% if @recipe.user %>
      <% if @recipe.user.avatar? %>
        <%= link_to (image_tag @recipe.user.avatar.thumb.url), user_path(@recipe.user) %>
      <% end %>
        <%= link_to @recipe.user.username, user_path(@recipe.user) %>
    <% else %>
      This Creator got Baked!!!!
    <% end %>

  </span>
  </div>
  <div class="col-sm-6 col-6">
    <div class="rating">
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
      <span>☆</span>
    </div>
    <span class="social-media"><%= social_share_button_tag(@recipe.title) %></span>

    <% if user_signed_in? %>
      <%= link_to recipe_favourite_path(@recipe),class: "#{@favourite_link} float-right",id: "fav", method: "PUT" do%>
        <%= image_tag("https://image.flaticon.com/icons/svg/149/149217.svg",id: "fav-image", class: @favourite_link) %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do%>
        <%= image_tag("https://image.flaticon.com/icons/svg/149/149217.svg", class: "favourite") %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
<!-- Recipe Description -->
<div class="row description">
  <p><%= @recipe.description %></p>
</div>
<!-- Cook Time -->
<div class="row border text-center extra-info">
  <div class="col-4 col-sm-4 ">
    <h5>Favourited</h5>
    <p><%= @recipe.favourites.count%></p>
  </div>
  <div class="col-4 col-sm-4 ">
    <h5>Views</h5>
    <p><%= @recipe.views%></p>
  </div>
  <div class="col-4 col-sm-4 ">
    <h5>Cook Time</h5>
    <p><%= @recipe.minutes_to_hours(@recipe.prep_time)%></p>
  </div>
</div>
<!-- Ingredients + Instructions-->
<div class="row build">
  <div class="col-6 col-sm-6">
    <div class="recipe-ingredients">
    <h4>Ingredients:</h4>
    <ul>
      <% @recipe.measurements.each do |measurement| %>
        <li><%= measurement.quantity %> <%= measurement.ingredient.name %></li>
      <% end %>
    </ul>
    </div>
  </div>
  <div class="col-sm-6 instructions">
    <h4>Directions:</h4>
    <ol>
      <% @recipe.instructions.each do |instruction| %>
        <li><%= instruction.step %></li>
      <% end %>
    </ol>
  </div>
</div>

<!-- Recommended Strain -->
<div class="row text-center recommended-strain">
  <div class="col-sm-12">
    <p>Recommended Strain:</p>
    <h4><%= link_to @recipe.strain.name, strain_path(@recipe.strain_id) %></h4>
  </div>
  <div class="col-sm-12">
    <%= button_to 'Find a Dispensary near you!', search_dispensaries_path, method: "get", class: "btn btn-outline-success find-dispensaries" %>
  </div>
</div>
<!-- Video -->
<div class="row">
  <div class="col-sm-12">
  <% if @recipe.video? %>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= @recipe.video %>" allowfullscreen></iframe>
    </div>
  <% end %>
  </div>
</div>
</div>

  <p><%= local_time(@recipe.created_at, format: '%B %e, %Y %l:%M%P', class: 'my-time') %>
  </p>

<div class="row">
  <div class="col-sm-12">
    <% if  user_signed_in? && current_user == @recipe.user%>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
    <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure to delete this recipe?' }  %> |
  <% end %>
    <%= link_to 'Back', recipes_path %>
  </div>
</div>
<div class="row">
  <% if user_signed_in? %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for([@recipe, @review]) do |f|%>
    <div class="review-form">
      <%= f.text_area :comment, class: "form-control" %><br>
      <%= f.submit class: "btn btn-success"%>
    </div>
  <% end %>
<% end %>
</div>






<% if @reviews %>
  <% @reviews.each do |review|%>
  <% if @recipe.user %>
    <p><%= review.user.username %></p>
    <% else %>
     This Reviewer got Baked!!!!
    <% end %>
    <p><%= review.comment %></p>
    <p><%= local_time(review.updated_at, format: '%B %e, %Y %l:%M%P', class: 'my-time') %></p>
    <%= link_to "Delete", recipe_review_path(@recipe, review), method: :delete %>
  <% end %>
<% end %>
