
<p>
  <strong>Category:</strong>
  <%= @recipe.category_id %>
</p>

<p>
  <strong>Recommended strain:</strong>
  <%= @recipe.recommended_strain_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.image %>
</p>

<p>
  <strong>Video:</strong>
  <%= @recipe.video %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Views:</strong>
  <%= @recipe.views %>
</p>

<h3>Steps</h3>
<ol>
<% @recipe.instructions.each do |instruction| %>
    <li><%= instruction.step %></li>
<% end %>
</ol>

<p>
<strong>Ingredients</strong>
<ul>
  <% @recipe.measurements.each do |measurement| %>
    <li><%= measurement.ingredient.name %> <%= measurement.quantity %></li>
  <% end %>
</ul>
</p>

<% if  user_signed_in? && current_user == @recipe.user%>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
  <%= link_to 'Back', recipes_path %>

<% if user_signed_in? %>
  <%= form_for([@recipe, @new_review]) do |f|%>
    <div class="review-form">
      <%= f.label :comment %>
      <%= f.text_area :comment %><br>
      <%= f.submit %>
    </div>
  <% end %>
  <%= link_to @favourite_link,   recipe_favourite_path(@recipe, type: @favourite_link), method: :put %>

  
<% end %>

<% if @reviews %>
  <% @reviews.each do |review|%>
    <p><%= review.user.username %></p>
    <p><%= review.comment %></p>
    <p><%= review.updated_at %></p>
    <%= link_to "Delete", recipe_review_path(@recipe, review), method: :delete %>
  <% end %>
<% end %>
