<h2><%= @user.username %>'s kitchen</h2>

<br>
<% if @user.avatar.url == nil%>
<%= image_tag'https://pro.pubgonline.com/uploads/images/teams/2989-1509421159.gif'%>
  <% else %>
    <%=image_tag @user.avatar, alt: @user.username %>
<% end %></br>

<%= @user.email %>
<div class="container">
<h2><%= @user.username %>'s Recipes</h2>
  <% if  !@user.recipes.empty?%>
    <div class="row">
      <% @user.recipes.each do |recipe|%>
        <div class="col-md-4">
          <%=  render '/recipes/show_recipe_partial', recipe: recipe %>
        </div>
      <% end %>
    </div>
  <% else %>
      <p>This user has no recipes! </p>
  <% end %>
</div>
<br><br>

<% if  user_signed_in? && current_user == @user%>
  <div class="container">
  	<h2>Favourites</h2>
  	<% if !@fav_recipes.empty? %>
      <div class="row">
    		<% @fav_recipes.each do |recipe| %>
          <div class="col-md-4">
    				<%= link_to(recipe.title, recipe_path(recipe.id))  %>
          </div>
    		<% end %>
      </div>
  	<% else %>
  		<p>You have no favourite recipes!</p>
  	<% end %>
    <%= link_to 'Edit your profile',  edit_user_registration_path(@user) %>
  </div>
<% end %>
