<h2>Find a dispensary near you!</h2>
<%= form_tag dispensaries_path, :method => :get do %>
<div>

  <div id='address-search'>
    <%= label_tag :current_address, 'Address' %>
    <%= text_field_tag :current_address, params[:current_address], placeholder: "ex: Toronto Canada", :id => 'addressSearch' %>
    <span>OR</span>
    <button id='current_location_btn'>Use my current location</button>
  </div>
  <div id='radius-search'>
    <%= label_tag :km, 'Within distance (km)' %>
    <%= number_field_tag :km, params[:km], placeholder: "ex: 5", min: 0, max: 100%>
  </div>
    <%= submit_tag "enter" %>
</div>
<% end %>

<script type="text/javascript">
var currentLocationBtn = document.querySelector('#current_location_btn');
var addressSearch = document.querySelector('#addressSearch');

currentLocationBtn.addEventListener('click', function(e){
    e.preventDefault()
    var codinates = localStorage.getItem("currentLocation")

   fetch('/cod_to_address?'+codinates)
   .then(
     function(response) {
       if (response.status !== 200) {
         console.log('Looks like there was a problem. Status Code: ' +
           response.status);
         return;
       }

       // Examine the text in the response
       response.json().then(function(data) {
         addressSearch.value = data.address;
       });
     }
   )
   .catch(function(err) {
     console.log('Fetch Error :-S', err);
   });




});



</script>
