<div id="strain-container">

<div>

<h2><%= @strain.name %></h2><span> <%= link_to 'Find Dispensary', search_dispensaries_path %></span>
</div>
<br>

<div class="strain-show">
<%= image_tag @strain.image, alt: @strain.name, :id => 'strain-image' %>
</div>

<div class="strain-show"  id="right-side-strain">
<p>
  <h3>Race</h3> <%= @strain.race.capitalize %>
</p>
<p>
  <h3>Flavours</h3>
  <% @strain.flavours.each do |flavour| %>
    <%= flavour %>
  <% end %>
</p>
<p>
  <h3>Effects</h3>
  <!-- <ul> -->
  <h2 class='strain-effects'>Positive</h2>
  <% @positives_array = [] %>
  <% @positives.each do |effect| %>
    <% @positives_array << effect.name %>
  <% end %>
  <%= @positives_array.join(', ') %>

  <h2 class='strain-effects'>Negative</h2>
  <% @negatives_array = [] %>
  <% @negatives.each do |effect| %>
    <% @negatives_array << effect.name %>
  <% end %>
  <%= @negatives_array.join(', ') %>

  <h2 class='strain-effects'>Medical</h2>
  <% @medical_array = [] %>
  <% @medicals.each do |effect| %>
    <% @medical_array << effect.name %>
  <% end %>
  <%=  @medical_array.join(', ') %>
<!-- </ul> -->
</p>
</div>

</div>
