<!DOCTYPE html>
<html>
  <head>
    <title>MaryDevelopment</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  </head>

  <body class="noscroll">
    <div class="dialog-wrapper">
      <div id="dialog"></div>
    </div>

    <header>
      <div id="mary">
        <div class="container">
            <div class="row">

              <nav class="navbar fixed-top navbar-expand-lg navbar-light">
                <a href="/" class="navbar-brand text-success mb-0 h1" id="logo">Baking with Mary</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expended="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="mainNavBar">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="#categories" id="categoriesBtn" class="nav-link text-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="categories">Recipes</a>
                    </li>
                    <li class="nav-item">
                      <a href="#effects" id="effectsBtn" class="nav-link text-primary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="effects">Effects</a>
                    </li>
                    <li class="nav-item">
                      <%= link_to "What's in your pantry?", filter_path, class: "nav-link text-primary" %>
                    </li>
                    <% if user_signed_in? %>
                      <li class="nav-item">
                        <%= link_to 'Profile', user_path(current_user), class: "nav-link text-primary" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link text-primary" %>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <%= link_to 'Sign In', new_user_session_path, class: "nav-link text-primary" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link text-primary" %>
                      </li>
                    <% end %>

                  </ul>

                  <%= form_tag(search_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: "form-control mr-sm-2" %>
                    <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
                  <% end %>
                </div>
              </nav>

            </div>
        </div>
      </div>

      <nav id="categories" class="collapse mt-5 fixed-top">
        <ul class="nav flex-column flex-sm-column flex-md-row flex-lg-row">
        <% RecipeCategory.all.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, recipe_category_path(category), class: "nav-link"  %>
          </li>
        <% end %>
          <li class="nav-item">
            <a href="" id="allergiesBtn" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Allergies</a>
            <nav id="allergies" class="dropdown-menu" aria-labelledby="allergiesBtn">
              <% Allergy.all.each do |allergy| %>
                <%= link_to allergy.name, allergy_path(allergy), class: "dropdown-item" %>
              <% end %>
            </nav>
          </li>
          <li class="nav-item">
            <%= link_to 'Add a Recipe', new_recipe_path, class: "nav-link" %>
          </li>
        </ul>
      </nav>

      <nav id="effects" class="collapse mt-5 fixed-top container">
        <ul class="nav flex-column flex-sm-column flex-md-row flex-lg-row">
          <div class="row">
          <div class="col">
            <li class="nav-item"><h4>Moods</h4></li>
            <% Effect.positives.each do |effect| %>
            <li class="nav-item">
              <%= link_to effect.name, effect_path(effect), class: "nav-link" %>
            </li>
            <% end %>
          </div>
          <div class="col">
            <li class="nav-item"><h4>Cures</h4></li>
            <% Effect.medicals.each do |effect| %>
            <li class="nav-item">
              <%= link_to effect.name, effect_path(effect), class: "nav-link" %>
            </li>
            <% end %>
          </div>
        </div>
        </ul>
      </nav>
    </header>

    <main class="container mt-3">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <p class="mt-5 pt-3"><% if user_signed_in? %> Welcome <%= current_user.username %> <% end %></p>
      <%= yield %>
    </main>

  </body>
</html>
