<!DOCTYPE html>
<html>
  <head>
    <title>MaryDevelopment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  </head>

  <body>
    <header>
      <h1>Baking with Mary</h1>
      <p><% if user_signed_in? %> Welcome <%= current_user.username %> <% end %></p>

      <nav>
        <%= link_to 'Home', root_path %>
        <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Your Profile', user_path(current_user) %>
        <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
        <a href="" id="categoryBtn">Recipes</a>
      </nav>
      <nav id="categories" style="display: none">
        <% RecipeCategory.all.each do |category| %>
        <%= link_to category.name, recipe_category_path(category)  %>
        <% end %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


      <script type ='text/javascript'>
      var categoryBtn = document.querySelector('#categoryBtn'),
      categoryNav = document.getElementById('categories')
      categoryBtn.addEventListener('click', function(e) {
        //console.log("helloooo");
        e.preventDefault();

        if (categoryNav.style.display === 'none') {
          categoryNav.style.display = 'block';
        } else {
          categoryNav.style.display = 'none';
        }
      })
      </script>
    </header>

    <main>
      <%= yield %>

      <div class="dialog-wrapper">
        <div id="dialog"></div>
      </div>
    </main>




  </body>
</html>
